
.staff {
    font-size: 0;
    background-image: linear-gradient(180deg, #999 0, #999 1px, transparent 1px, transparent 8px, #999 8px, #999 9px, transparent 9px, transparent 16px, #999 16px, #999 17px, transparent 17px, transparent 24px, #999 24px, #999 25px, transparent 25px, transparent 32px, #999 32px, #999 33px, transparent 33px);
    background-size: 100% 80px;
}

.staff-container {
    background-color: white;
    padding-top : 2rem;
    padding-left : 2rem;
    padding-right : 2rem;
}

.bar {
    position: relative;
    display: inline-block;
    height: 32px;
    margin: 0 12px 48px;
    width: 2px;
    border-right: 1px solid black;
}

.bar.double,
.bar.end {
    border-left: 1px solid black;
}
.bar.end {
    float: right;
    border-right-width: 4px;
    margin-right: 0;
}


.clef {
    position: relative;
    display: inline-block;
    margin: 0 12px 48px 6px;
    padding-right: 1rem;
    width: 12px;
    height: 32px;
}

.clef::before {
    position: absolute;
}

.treble::before {
    margin-top: -2.4rem;
    font-size: 5rem;
    content: "\1D11E";
}

.bass::before {
    margin-top: -1rem;
    font-size: 3rem;
    content: "\1D122";
}

.note {
    position: relative;
    display: inline;
    width: 12px;
    height: 32px;
    margin: 0 12px 48px;
}
.debug .note {
    outline: 1px solid rgba(255, 0, 0, 0.1);
}
.note::before {
    height: 8px;
    width: 12px;
}
.whole.note::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border: 1px solid black;
    border-left-width: 4px;
    border-right-width: 4px;
    border-radius: 50%;
}
.half.note::after,
.quarter.note::after {
    content: "";
    height: 28px;
    width: 1px;
    background-color: black;
    position: absolute;
    top: -76px;
    right: 0;
}

.half.note.good::before,
.half.note.good::after,
.quarter.note.good::before,
.quarter.note.good::after {
    background-color: green;
}

.half.note.bad::before,
.half.note.bad::after,
.quarter.note.bad::before,
.quarter.note.bad::after {
    background-color: red;
}

.half.note::before,
.quarter.note::before {
    position: absolute;
    content: "";
    transform: rotatez(-15deg);
    border-radius: 50%;
}
.half.note::before {
    box-sizing: border-box;
    border: 1px solid black;
    border-top-width: 2.18181818px;
    border-bottom-width: 2.18181818px;
}
.quarter.note::before {
    background-color: black;
}

.note.ds4::after,
.note.fs4::after,
.note.gs4::after,
.note.as4::after,
.note.cs5::after,
.note.ds5::after,
.note.fs5::after
{
    content: "\266F";
    font-size: initial;
}

.note.ds4.good::after,
.note.fs4.good::after,
.note.gs4.good::after,
.note.as4.good::after,
.note.cs5.good::after,
.note.ds5.good::after,
.note.fs5.good::after
{
    color: green;
}

.note.ds4.bad::after,
.note.fs4.bad::after,
.note.gs4.bad::after,
.note.as4.bad::after,
.note.cs5.bad::after,
.note.ds5.bad::after,
.note.fs5.bad::after
{
    color: red;
}


.note.d4, .note.ds4 {
    top: 32px;
}
.note.e4 {
    top: 28px;
}
.note.f4, .note.fs4 {
    top: 24px;
}
.note.g4, .note.gs4 {
    top: 20px;
}
.note.a4, .note.as4 {
    top: 16px;
}
.note.b4 {
    top: 12px;
}
.note.c5, .note.cs5 {
    top: 8px;
}
.note.d5, .note.ds5 {
    top: 4px;
}
.note.e5 {
    top: 0;
}
.note.f5, .note.fs5 {
    top: -4px;
}
.note.g5, .note.gs5 {
    top: -8px;
}

