
.staff {
    font-size: 0;
    background-image: linear-gradient(180deg, #999 0, #999 2px, transparent 2px, transparent 16px, #999 16px, #999 18px, transparent 18px, transparent 32px, #999 32px, #999 34px, transparent 34px, transparent 48px, #999 48px, #999 50px, transparent 50px, transparent 64px, #999 64px, #999 66px, transparent 66px);
    background-size: 100% 160px;
}

.staff-container {
    background-color: white;
    padding-top : 2rem;
    padding-left : 2rem;
    padding-right : 2rem;
}

.bar {
    position: relative;
    display: inline-block;
    height: 64px;
    margin: 0 24px 96px;
    width: 4px;
    border-right: 1px solid black;
}

.bar.double,
.bar.end {
    border-left: 1px solid black;
}
.bar.end {
    float: right;
    border-right-width: 8px;
    margin-right: 0;
}

.clef {
    display: inline-block;
    margin: 0 50px 144px 0px;
}

.clef::before {
    position: absolute;
}

.treble::before {
    margin-top: -45px;
    font-size: 100px;
    content: "\1D11E";
}

.bass::before {
    margin-top: -1rem;
    font-size: 3rem;
    content: "\1D122";
}

.note {
    position: relative;
    display: inline;
    width: 24px;
    height: 64px;
    margin: 0 50px 96px;
}
.debug .note {
    outline: 1px solid rgba(255, 0, 0, 0.1);
}
.note::before {
    height: 16px;
    width: 24px;
}
.whole.note::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border: 1px solid black;
    border-left-width: 8px;
    border-right-width: 8px;
    border-radius: 50%;
}
.half.note::after,
.quarter.note::after {
    content: "";
    height: 56px;
    width: 1px;
    background-color: black;
    position: absolute;
    top: -152px;
    right: 0;
}

.half.note.good::before,
.half.note.good::after,
.quarter.note.good::before,
.quarter.note.good::after {
    background-color: green;
}

.half.note.bad::before,
.half.note.bad::after,
.quarter.note.bad::before,
.quarter.note.bad::after {
    background-color: red;
}

.half.note::before,
.quarter.note::before {
    position: absolute;
    content: "";
    transform: rotatez(-15deg);
    border-radius: 50%;
}
.half.note::before {
    box-sizing: border-box;
    border: 1px solid black;
    border-top-width: 4px;
    border-bottom-width: 4px;
}
.quarter.note::before {
    background-color: black;
}

.note.ds4::after,
.note.fs4::after,
.note.gs4::after,
.note.as4::after,
.note.cs5::after,
.note.ds5::after,
.note.fs5::after
{
    content: "    \266F";
    font-size: 26px;
    white-space: pre;
}

.note.ds4.good::after,
.note.fs4.good::after,
.note.gs4.good::after,
.note.as4.good::after,
.note.cs5.good::after,
.note.ds5.good::after,
.note.fs5.good::after
{
    color: green;
}

.note.ds4.bad::after,
.note.fs4.bad::after,
.note.gs4.bad::after,
.note.as4.bad::after,
.note.cs5.bad::after,
.note.ds5.bad::after,
.note.fs5.bad::after
{
    color: red;
}


.note.d4, .note.ds4 {
    top: 64px;
}
.note.e4 {
    top: 56px;
}
.note.f4, .note.fs4 {
    top: 48px;
}
.note.g4, .note.gs4 {
    top: 40px;
}
.note.a4, .note.as4 {
    top: 32px;
}
.note.b4 {
    top: 24px;
}
.note.c5, .note.cs5 {
    top: 16px;
}
.note.d5, .note.ds5 {
    top: 8px;
}
.note.e5 {
    top: 0;
}
.note.f5, .note.fs5 {
    top: -8px;
}
.note.g5, .note.gs5 {
    top: -16px;
}

